<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <h1>Photo Gallery</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Charlie</a></li>
                <li><a href="adventures.html">Charlie's Adventures</a></li>
                <li><a href="gallery.html">Photo Gallery</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Charlie's Photo Collection</h2>
            <p>Explore a vast collection of Charlie's photos. From adorable kittenhood to majestic adulthood, you'll find it all here.</p>
            <div class="photo-gallery">
                
                <img src="/public/images/Charlie4.jpeg" alt="Charlie Photo 4">
                <img src="/public/images/Charlie1.jpeg" alt="Charlie Photo 1">

            </div>
        </section>
    </main>
    <footer>
        &copy; 2023 Charlie the Cat
    </footer>
</body>
</html>
